<nav role="navigation" aria-label="Pagination" class="flex">
  <ul class="flex space-x-2 font-sans">
    <% @paged_episodes.each do |episode| %>
      <% if episode == @episode %>
        <li aria-current="true" class="<%= @current_classes.join(" ") %>">
          <span class="sr-only">Current episode </span><%= episode.id %>
        </li>
      <% else %>
        <a href="<%= episode_path(episode) %>" aria-label="Go to episode <%= episode.id %>">
          <li class="<%= @go_to_classes.join(" ") %>">
            <span class="sr-only">Go to episode </span><%= episode.id %>
          </li>
        </a>
      <% end %>
    <% end %>
  </ul>
</nav>
