<h2 class="text-4xl font-bold text-yellow-400"><%= @movie.title %></h2>
<div class="flex gap-4 flex-col lg:flex-row">
  <div>
    <% if @movie.episodes.any? %>
      <h3 class="text-2xl font-bold text-green-600">Watched For</h3>
      <ul>
        <% @movie.episodes.each do |episode| %>
          <li><%= render(EpisodeTitleComponent.new(episode: episode)) %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @movie.recommendations.any? %>
      <h3 class="text-2xl font-bold text-green-600">Recommended By</h3>
      <ul>
      <% @movie.recommendations.each do |recommendation| %>
        <li>
          <%= link_to(recommendation.host.name, host_path(recommendation.host)) %> in
          <%= render(EpisodeTitleComponent.new(episode: recommendation.episode)) %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <% if @movie.poster.attached? %>
      <%= image_tag(url_for(@movie.poster), alt: "Poster for #{@movie.title}") %>
    <% end %>
  </div>
</div>
