<h2><%= render(EpisodeTitleComponent.new(episode: @episode)) %></h2>
<%= render(EpisodePaginationComponent.new(episode: @episode)) %>
<div class="grid grid-cols-<%= @episode.hosts.count %> gap-4">
  <% @episode.hosts.each do |host| %>
    <div>
      <h2><%= link_to(host.name, host) %></h2>
      <% if @episode.recommendations_for(host).any? %>
        <% @episode.recommendations_for(host).each do |recommendation| %>
          <%= render(MovieComponent.new(movie: recommendation.movie)) %>
        <% end %>
      <% else %>
        No recommendations made
      <% end %>
    </div>
  <% end %>
</div>
