<!DOCTYPE html>
<html>
  <head>
    <title>The Flop House Recommends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <h1 role="banner">The Flophouse Recommends</h1>
      <div class="grid grid-cols-10 gap-4">
        <div class="col-start-1 col-span-3">
          <div role="search">
            <%= form_with url: search_episodes_path, method: :get, role: "search" do |form| %>
              <%= form.label :query, "Search for Episode:", {"class" => "hidden"} %>
              <%= form.text_field :query, { "aria-autocomplete" => "none", "autocomplete" => "off", "type" => "search", "placeholder" => "Search for Episode" } %>
              <%= form.submit "Search" %>
            <% end %>
            <%= form_with url: search_movies_path, method: :get, role: "search" do |form| %>
              <%= form.label :query, "Search for Movie:", {"class" => "hidden"} %>
              <%= form.text_field :query, { "aria-autocomplete" => "none", "autocomplete" => "off", "type" => "search", "placeholder" => "Search for Movie" } %>
              <%= form.submit "Search" %>
            <% end %>
            <%= form_with url: search_hosts_path, method: :get, role: "search" do |form| %>
              <%= form.label :query, "Search for Host:", {"class" => "hidden"} %>
              <%= form.text_field :query, { "aria-autocomplete" => "none", "autocomplete" => "off", "type" => "search", "placeholder" => "Search for Host" } %>
              <%= form.submit "Search" %>
            <% end %>
          </div>
          <p>
            The hosts of <a href="https://www.flophousepodcast.com/">The Flop House Podcast</a> recommend movies that you might actually like. 
            This site lists all of their recommendations.
          </p>
          <ul>
            <li>Search for a movie by its title to see who recommended it and in which episodes</li>
            <li>Search for an episode either by its number or the name of the movie watched</li>
            <li>Search for a host by their name to see all their recommendations</li>
          </ul>
        </div>
        <div class="col-start-4 col-span-7" role="main" id="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
