<!DOCTYPE html>
<html>
  <head>
    <title>The Flop House Recommends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <h1 role="banner" class="text-6xl font-bold text-indigo-900">The Flophouse Recommends</h1>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="order-last md:order-first">
          <p>
            Most episodes of the <a href="https://www.flophousepodcast.com/">The Flop House Podcast</a> end with everyone's favorite segment, recommendations of movies you might actually like. Here at The Flop House Recommends you can search all the recommendations by episode, host or movie.
          </p>
          <div role="search" class="grid gap-y-2 divide-y divide-green-500">
            <div>
            <%= form_with url: search_episodes_path, method: :get, role: "search" do |form| %>
              <p>Search for an episode either by its number or the name of the movie watched</p>
              <%= form.label :query, "Search for Episode:", {"class" => "sr-only"} %>
              <%= form.text_field :query, { "aria-autocomplete" => "none", "autocomplete" => "off", "type" => "search", "placeholder" => "Search for Episode" } %>
              <%= form.submit "Search" %>
            <% end %>
            </div>
            <div>
            <%= form_with url: search_movies_path, method: :get, role: "search" do |form| %>
              <p>Search for a movie by its title to see who recommended it and in which episodes</p>
              <%= form.label :query, "Search for Movie:", {"class" => "sr-only"} %>
              <%= form.text_field :query, { "aria-autocomplete" => "none", "autocomplete" => "off", "type" => "search", "placeholder" => "Search for Movie" } %>
              <%= form.submit "Search" %>
            <% end %>
            </div>
            <div>
            <%= form_with url: search_hosts_path, method: :get, role: "search" do |form| %>
              <p>Search for a host by their name to see all their recommendations</p>
              <%= form.label :query, "Search for Host:", {"class" => "sr-only"} %>
              <%= form.text_field :query, { "aria-autocomplete" => "none", "autocomplete" => "off", "type" => "search", "placeholder" => "Search for Host" } %>
              <%= form.submit "Search" %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="flex-grow order-first md:order-last" role="main" id="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
